<label for="product_id">Product ID</label>

<input
        type="number"
        id="product_id"
        name="product_id"
        {% if action == "edit" %}
        disabled
        {% endif %}
        {% if action == "update" %}
        disabled
        {% endif %}
        {% if product %}
            value="{{  product["product_id"] }}"
        {% endif %}
>


{%  if errors["product_id"] %}
    <div class="error" style="color: orangered">{{ errors["product_id"] }}</div>
{% endif %}

<label for="name">Name</label>
<input
        type="text"
        id="name"
        name="name"
        {%  if product %}
            value="{{ product["name"] }}">
        {% endif %}
{%  if  errors["name"] %}
    <div class="error" style="color: orangered">{{ errors["name"] }}</div>
{%  endif %}

<label for="description">Description</label>
<textarea
        id="description"
        name="description">{{ product["description"] }}</textarea>

<button>Save</button>